ul {
    margin: 0;
    padding: 0;
  }
  ol {
    padding: 0;
    margin: 0;
    list-style-type: armenian;
    margin-bottom: 15px;
  }
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
  }
  
  img {
    margin-right: 10px;
    margin-left: 5px;
  }
  input {
    margin-right: 11px;
    height: 18px;
    width: 18px;
  }
  .modal {
    width: 100vw;
    height: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
  }
  .modal.active {
    opacity: 1;
    pointer-events: all;
    z-index: 5;
  }
  
  .modal-content {
    width: 27vw;
    height: 100vw;
  }
  
  .modal-content.active {
    width: 27vw;
    height: 100vw;
    padding: 20px;
    background-color: #f9faf8;
  }
  .no {
    height: 40px;
    width: 140px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #0073a4;
    background: #ffffff;
    border: 2px solid #0073a4;
  }
  
  .yes {
    height: 40px;
    width: 140px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 140px;
    color: #ffffff;
    background: #0073a4;
    margin-right: auto;
  }
  
  .choice {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }
  .textt{
    font-size: 24px;
    margin-bottom: 29px;
  }
  .text {
    font-size: 14px;
  }
  .close {
    color: #002C44;;
    float: right;
    font-size: 28px;
   
  }
.texxt{
  font-size: 14px;
  margin-bottom: 7px;
}
